body{
    background-image: url('usuarios.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
}

.containerUsers {
    margin: 0 auto;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 7px;
    margin-top: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    background-color: #f0f0f0; /* Cambia el color de las cajas de texto */
    margin-right:10px;
}

input[type=submit] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #60c060; /* Cambia el color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

