body{
    background-image: url('sensores.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
}
.control-container2 {
    margin: 0 auto;
    max-width: 2400px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"]{
    width: calc(100% - 20px);
    padding: 7px;
    margin-top: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    background-color: #f0f0f0; /* Cambia el color de las cajas de texto */
    margin-right:10px;
}